<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-searchbar debounce="500" animated placeholder="Search art collections" (ionChange)="search($event)"></ion-searchbar>


  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4" *ngFor="let item of filteredList">
        <app-art-item [artItem]="item"></app-art-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!filteredList || !filteredList?.length">
    <ion-row>
      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 100px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 120px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 130px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 120px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 130px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeSm="6" sizeLg="3" sizeMd="4">
        <ion-card>
          <ion-thumbnail style="width: 100%; height: 150px;">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
